{#
使用網頁模板繼承寫法，減少重複性建立
{% block xxx }代表從模板設定的可自訂內容區塊
#}

{# 要繼承的模板 #}
{% extends "./layouts/base.html" %}

{# 設置網頁的logo #}
{% block Web_Icon %} https:// {% endblock Web_Icon %}

{% block Head %}
{# 因使用block Head區塊繼承，所以須使用super()繼承模板的內容，如果沒有加super()，只會留下如下方的style #}
{{ super() }}

{# 從繼承的模板Head區塊裡繼續加上自訂內容 #}
<!--
<style>
    .test {
        all: inherit;
        font-weight: bold;
    }
</style>
-->
{% endblock Head %}

{# 設置網頁標題 #}
{% block Title %}首頁{% endblock Title%}

{# 設置網頁CSS #}
{% block CSS %}
{# super(): 繼承原本模板設定的 #}
{{ super() }}

<!-- Custom Style (自訂的CSS，只需更改filename)-->
<link rel="stylesheet" href="{{ url_for('static', filename='./css/home.css') }}" defer>
{% endblock CSS %}


{# 網頁主區塊 #}
{% block Outer_Main %}
<main id="Main" class="row d-flex justify-content-center glass_morphism">
    {% block Main %}
    <!-- 主區塊標題 -->
    <div class="col-12 pb-4 align-content-center">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="display-1">屏科好屋網</p>
            </blockquote>
            <figcaption class="blockquote-footer fs-4">
                <span id="Auto_write"></span>
            </figcaption>
        </figure>
    </div>

    <!-- 主區塊介紹 -->
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 my-5">
        <article
            class="row d-flex justify-content-center align-content-center">
            <section class="col-10 p-0 ">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3">
                        </button>
                    </div>
                    <div class="carousel-inner img_container">
                        {% for img in imgs %}
                        <div class="carousel-item {{ 'active' if imgs.index(img) == 0 else '' }} ">
                            <img src="./static/images/carousel/{{ img }}"
                                class="d-block w-100">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
        </article>
    </div>

    <!-- 主區塊內容 -->
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 p-2">
        <div class="row g-5 justify-content-center">
            <!-- 卡片-左 -->
            <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-4 my_card">
                <div class="card h-100">
                    <a href="./house_search" target="_self" class="card_img img_container">
                        <img src="{{ url_for('static', filename='./images/tenant_rent_1000x666.jpg') }}" srcset="{{ url_for('static', filename='./images/tenant_rent_1000x666.jpg') }} 1x,
                                    {{ url_for('static', filename='./images/tenant_rent_600x399.jpg') }} 2x"
                            alt=" Rent a house" class="card-img-top">
                        <div class="show_info">
                            <p class="fs-1 fw-bold">
                                前往租房子
                                <i class="fa-solid fa-house fa-bounce fa-lg" style="color: #5a81c4;"></i>
                            </p>
                        </div>
                    </a>
                    <div class="card-body">
                        <h3 class="card-title display-3 text-center">我是租客</h3>
                        <p class="card-text text-center">我想要租房子!</p>
                    </div>
                </div>
            </div>

            <!-- 卡片-中 -->
            <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-4 my_card">
                <div class="card h-100">
                    <a href="./house_managed" target="_self" class="card_img img_container">
                        <img src="{{ url_for('static', filename='./images/landlord_house_1440x625.jpg') }}" srcset="{{ url_for('static', filename='./images/landlord_house_1440x625.jpg') }} 1x,
                            {{ url_for('static', filename='./images/landlord_house_860x373.jpg') }} 2x"
                            alt="I am Landlord" class="card-img-top">
                        <div class="show_info">
                            <p class="fs-1 fw-bold">
                                前往刊登房子
                                <i class="fa-solid fa-house fa-bounce fa-lg" style="color: #5a81c4;"></i>
                            </p>
                        </div>
                    </a>
                    <div class="card-body">
                        <h3 class="card-title display-3 text-center">我是房東</h3>
                        <p class="card-text text-center">我想要刊登房子!</p>
                    </div>
                </div>
            </div>

            <!-- 卡片-右 -->
            <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-4 my_card">
                <div class="card h-100">
                    <a href="./login&signup" target="_self" class="card_img img_container">
                        <img src="{{ url_for('static', filename='./images/member_670x1005.jpg') }}" srcset="{{ url_for('static', filename='./images/member_670x1005.jpg') }} 1x,
                            {{ url_for('static', filename='./images/member_400x599.jpg') }} 2x" alt="Join member"
                            class="card-img-top">
                        <div class="show_info">
                            <p class="fs-1 fw-bold">
                                <i class="fa-solid fa-user fa-bounce" style="color: #54a6a5;"></i>
                                前往加入會員
                            </p>
                        </div>
                    </a>
                    <div class="card-body">
                        <h3 class="card-title display-3 text-center">加入會員</h3>
                        <p class="card-text text-center">還沒加入會員嗎?點我立刻加入!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock Main %}
</main>
{% endblock Outer_Main %}

{# 網頁腳尾 #}
{% block Outer_Footer %}
<footer id="Footer" class="row d-flex justify-content-around gy-3">
    {% block Footer %}
    <div class="col-12 col-sm-3 border border-dark d-flex justify-content-center m-sm-0">
        <p>最後修改: 2023-06-21</p>
    </div>

    <div class="col-12 col-sm-3 border border-dark d-flex justify-content-center m-sm-0">
        <p>待新增</p>
    </div>

    <div class="col-12 col-sm-3 border border-dark d-flex justify-content-center m-sm-0">
        <p>待新增</p>
    </div>
    {% endblock Footer %}
</footer>
{% endblock Outer_Footer %}

{# 網頁JS #}
{% block JS %}
{# super(): 繼承原本模板設定的 #}
{{ super() }}

<script>
    // 自動打字
    auto_write(
        tag = "#Auto_write", // 也寫入的標籤名稱
        msgs = [
            "讓你的生活^500變得<cite title='Source Title' class='text-success'>更加豐富</cite>",
            "讓你的生活變得<cite title='Source Title' class='text-success'>^300更加便利</cite>",
            "尊爵不凡的<cite title='Source Title' class='text-info'>^500租屋品質</cite>"
        ], // 裡面有^1000、^500是延遲的秒數(毫秒)
        {
            speed: 70, // 打字速度
            del_speed: 60, // 刪除速度
            delay: 1200, // 延遲開始
            del_delay: 3000, // 延遲刪除
            cursor_style: "🏠", // 游標樣式
            smart_del: true, // 預設，智慧刪除功能(只刪除字串不相同的部分)
            loop: true // 不斷重複
        }
    )

    // 彈出提示框
    show_toast("測試", 'tip');
</script>
{% endblock JS %}